<section id="content">
  <div class="container text-center">
    <div class="row">
      <div
        class="primary main-text align-left col-lg-6"
        style="margin-top: 70px"
      >
        <h2>Séances d'essai gratuites</h2>
        <p>
          Samedi 15 Juin aux Essarts en Bocage<br />
          Salle du 8 Mai 1945
        </p>
        <ul>
          <li>9h40-11h</li>
          <li>14h-15h30</li>
          <li>16h-17h30</li>
        </ul>
        <p>
          Sur inscription par mail:
          <a hfref="mailto:contact@journalcreatif-vendee@gmail.com"
            >contact@journalcreatif-vendee.com</a
          >
        </p>
      </div>

      <div
        class="primary main-text align-left col-lg-6"
        style="margin-top: 70px"
      >
        <h2>Inscriptions ouvertes pour 2024-2025</h2>
        <p>
          Essarts en Bocage<br />
          Salle du 8 Mai 1945
        </p>
        <ul>
          <li>Arts plastiques: pour les 6-10 ans</li>
          <li>Aquarelle: ateliers bimensuels à partir de 16 ans</li>
          <li>Journal créatif: ateliers bimensuels à partir de 16 ans</li>
        </ul>
        <p>
          Horaires, tarifs et informations par mail:
          <a hfref="mailto:contact@journalcreatif-vendee@gmail.com"
            >contact@journalcreatif-vendee.com</a
          >
        </p>
      </div>
      <p>
        <b
          >Retrouvez moi également au forum des associations le samedi 14
          septembre</b
        >
      </p>
    </div>
  </div>
</section>
