<section id="content">
  <div class="container text-center">
    <h1>Prochainement</h1>
    <div class="row">
      <div
        class="primary main-text align-left col-lg-6"
        style="margin-top: 70px"
      >
        <h2>
          Séances Aquarelle et Journal Créatif chez
          <a href="https://www.instagram.com/cosycausette/">Cozy Causette</a>
        </h2>
        <p>
          8 Rue Thier <br />
          La Roche-sur-Yon
        </p>
        <ul>
          <li><strong>Aquarelle</strong>: Vendredi 2 août 16h30-18h30</li>
          <li><strong>Journal Créatif</strong>: Mercredi 7 août 10h30-12h30</li>
        </ul>
        <p>
          Sur inscription directement auprès de
          <a href="https://cosycausette.fr/contact/">Cosy Cosette</a>
        </p>
      </div>

      <div
        class="primary main-text align-left col-lg-6"
        style="margin-top: 70px"
      >
        <h2>Inscriptions ouvertes pour 2024-2025</h2>
        <p>
          Salle du 8 Mai 1945<br />
          Essarts en Bocage
        </p>
        <ul>
          <li><strong>Aquarelle</strong> hebdomadaire: Mardis 14h45-16h45</li>
          <li>
            <strong>Aquarelle</strong> bimensuel: Mardis semaines impaires
            18h45-20h15
          </li>
          <li>
            <strong>Aquarelle</strong> bimensuel: Vendredi semaines impaires
            15h15-16h45
          </li>
          <li>
            <strong>Journal créatif</strong> bimensuel: Mardis semaines paires
            18h45-20h15
          </li>
          <li>
            <strong>Journal créatif</strong> bimensuel: Vendredi semaines paires
            15h15-16h45
          </li>
          <li>
            <strong>Arts plastiques</strong> hebdomadaire (enfants): Mardi ou
            Vendredi 17h15-18h15
          </li>
        </ul>
        <p>
          Plus d'informations par mail:
          <a hfref="mailto:contact@journalcreatif-vendee@gmail.com"
            >contact@journalcreatif-vendee.com</a
          >
        </p>
      </div>
      <p>
        <b
          >Retrouvez moi également au forum des associations le samedi 14
          septembre</b
        >
      </p>
    </div>
  </div>
</section>
