<section id="content">
  <div class="container text-center">
    <h1>Activités</h1>

    <hr />
    <div class="container text-center">
      <h2>
        Séances Aquarelle et Journal Créatif chez
        <a href="https://www.instagram.com/cosycausette/">Cozy Causette</a>
      </h2>
      <p>
        8 Rue Thier <br />
        La Roche-sur-Yon
      </p>
      <ul>
        <li><strong>Aquarelle</strong>: Samedi 12 octobre</li>
      </ul>
      <p>
        Sur inscription directement auprès de
        <a href="https://cosycausette.fr/contact/">Cosy Cosette</a>
      </p>
    </div>

    <hr />
    <div class="container text-center">
      <h2>Cours 2024-2025</h2>

      <img src="img/planning_small.png" class="img-responsive" alt="" />

      <p>Les cours se déroulent salle de la cure aux Essarts-en-Bocage</p>
      <p>
        <a href="downloads/inscription_activites_2024.pdf"
          >Fiche d'inscription téléchargeable</a
        >
        —
        <a href="downloads/inscription_essartais_2024.pdf"
          >Fiche d'inscription Culture Loisirs Essartais</a
        >
      </p>
      <p>
        <a href="downloads/calendrier_2024.pdf"
          >Télécharger le calendrier complet</a
        >
      </p>
      <hr />
      <p>
        <b>Retrouvez moi au forum des associations le samedi 14 septembre</b>
      </p>

      <p>
        Plus d'informations par mail:
        <a hfref="mailto:contact@journalcreatif-vendee@gmail.com"
          >contact@journalcreatif-vendee.com</a
        >
      </p>
    </div>
  </div>
</section>
