<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/portfolio/h1.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Exploration</div>
              <div class="project-name">Une invitation au voyage</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/portfolio/c1.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Découverte</div>
              <div class="project-name">Des idées à volonté</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/portfolio/f1.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Plaisir</div>
              <div class="project-name">Un espace sans contrainte</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/portfolio/g1.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Compréhension</div>
              <div class="project-name">Les possibles réimaginés</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/portfolio/b1.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Ouverture</div>
              <div class="project-name">Des horizons nouveaux</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/portfolio/d1.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Détente</div>
              <div class="project-name">Un environnement serein</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
