<section id="whoami">
  <div class="container text-center">
    <img src="img/laura.png" class="pull-left fa fa-phone fa-3x wow bounceIn margin-10"
    data-wow-delay=".1s"" />
    <div class="primary main-text align-left" style="margin-top: 70px">
      <p>
        J'aime les Arts et les mots. <br/>
        J'aime la nature, les livres et les expos.<br/>
        J'aime découvrir, apprendre et regarder. <br/>
        J'aime dessiner, peindre, écrire, coller et partager.<br/>
      </p>
      <p>
            Enfant, j'ai appris 10 ans en école de peinture à faire danser les couleurs sur le papier,<br/>
            Etudiante en chimie, je me suis émerveillée à faire apparaître dans l'impalpable transparent un soluté coloré, à sentir l'odeur fruitée de l'ester synthétisé,<br/>
            Enseignante, j'ai eu envie d'accorder plus de place à la créativité, à l'imagination et à l'inventivité, pour aider les enfants à rêver, à apprendre et à grandir.<br/>
            Maman, j'ai découvert les couleurs heureuses de la vie qui résonne dans la maison.<br/>
      </p>
      <p>
            En 2022, j'ai rencontré avec enthousiasme le journal créatif<sup>©</sup> et rouvert régulièrement ma palette d'aquarelle, mon médium favori.<br/>
            En 2024, j'ai obtenu ma certification en journal créatif<sup>©</sup> et ai initié mes premiers ateliers.<br/>
          </p>
          <p>
        Chacun de ces pas m'ont apporté de nombreux moments magiques. </p>
        <p>
        Et ce nouveau pas m'emmène avec vous.</p>
      </p>
      </p>
    </div>
    <img src="img/logo_certif_jc.png" style="height: 100px" alt="" />
  </div>
</section>
